table {
  width: 80%;
  margin: 10% auto;
  background-color: #c3c3c3;
}

th {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  border-color: transparent;
}

td{
  border-color: transparent;
}

